<div class="container-fluid">
    <h3>Dickenson told me personally she edited things all the time! Send that shit up here: </h3>
    <%= form_for :poem do |f| %>
        <%= render partial: "partials/form", locals: {f: f} %>
    <% end %>
</div>