<div class="container-fluid">
    <h3>Even Sara Bareilles doesn't get it right in one take! Let the world hear your improvements: </h3>
    <%= form_for :song do |f| %>
        <%= render partial: "partials/form", locals: {f: f} %>
    <% end %>
</div>