<div class="container-fluid">
    <h3>Mary Shelley would be proud of your edits! Let the world see your work: </h3>
    <%= form_for :song do |f| %>
        <%= render partial: "partials/form", locals: {f: f} %>
    <% end %>
</div>