<div class="container-fluid">
    <h3>Way to go, short stories take a while to write! Title that bitch:</h3>
    <%= form_for :short_story do |f| %>
        <%= render partial: "partials/form", locals: {f: f} %>
    <% end %>
</div>