<h1>Here's where else you can find me!</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-6 btn btn-med">
            <a href="https://www.digyourdogma.com">Dogma</a>
        </div>
        <div class="col-6 btn btn-med">
            <a href="https://www.youtube.com/user/lcoffta">YouTube</a>
        </div>
    </div>
    <div class="row">
        <div class="col-6 btn btn-med">
            <a href="https://soundcloud.com/lindsay-coffta">SoundCloud</a>
        </div>
        <div class="col-6 btn btn-med">
            <a href="https://www.linkedin.com/in/lindsaycoffta/">LinkedIn</a>
        </div>
    </div>
</div>

<h2>Want to collaborate? Get in touch!</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-4 btn btn-med">
            <a href="mailto: lcoffta@gmail.com">Email</a>
        </div>
        <div class="col-4 btn btn-med">
            <a href="https://twitter.com/lindsaycoffta">Twitter</a>
        </div>
        <div class="col-4 btn btn-med">
            <a href="">Facebook</a>
        </div>
    </div>
</div>