
<h1>Welcome!</h1>

<p>
    I'm so glad you chose to visit my stie and see just how multitalented, hardworking, and creative I am! 
    Here you'll find collections of short stories, poems, songs, blog posts, and more-- all lovingly crafted
    by yours truly. If you'd like to know more about me and my story, head on over to the 
    <%= link_to 'about me page', about_path %>. If you're intrested in knowing more about any of my works or would 
    like to collaborate, please feel free to check out my <%= link_to 'contact page', contact_path %>.  
</p>

<p>
    I hope your time spent here will engage your mind, leave you with questions, and maybe even a little inspiration.
    Enjoy!
</p>

<p>
    "It takes courage to grow up and become who you really are." --e. e. cummings
</p>
